Django==3.0.7
django-allauth==0.42.0
django-crispy-forms==1.9.1
django-filter==2.3.0
django-gsheets==0.0.10
django-heroku==0.3.1
django-markdown-deux==1.0.5
django-multi-email-field==0.6.2
django-phone-field==1.8.1
