.bodyMade {
    font-size: 16px;
    background: #085078;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



    width:100%;
    height: 100px;
    background-size: cover;
    font-family: 'Oxygen', sans-serif;
  }
  .container{

    /* How pronounced should the 3D effects be */
	perspective: 400px;
	-webkit-perspective: 400px;
  position: absolute;


	width:300px;
	height:260px;
	margin-top: 0;
	border-radius:16px;
	position:relative;
}
.ImageLogo{
  height: 20rem;
  width: 8%;
  position: relative;
  margin-left: 33.25%;
  margin-top:0.25%;
}


.login-page2{

    width: 280px;
    position: absolute;
    top:55.25% ;
    left:52.25%;
    transform: translate(-50%,-50%);
    color:black;


}
.login-page2 h1{
    float: left;
    font-size: 40px;
    border-bottom: cyan 6px solid;
    margin-bottom: 50px;
    padding: 13px 0;
}
.textbox2{
    width: 110%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 18px 0;
    border-bottom: 1px solid  lawngreen ;
    margin-left: 1px;
    margin-right: 20px;


}
.textbox2 i{
    color: white;
    width: 26px;
    float:left ;
    text-align: center;
}
.textbox2 input{
    border: none;
    outline: none;
    background: none;
    color: #00ffff;
    font-size: 18px;
    width: 83%;
    float: left;
    margin: 0 10px;
}
#btn2{
  margin-top: 20px;
  width: 88%;
  background: #192021;
  border-radius: 10px;
  border-color: #192021;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  color: #e9edf0;
  font-size: 20px;
  cursor: pointer;
  height: 3.8rem;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}
#btn2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

#btn2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#btn2:hover span {
  padding-right: 25px;
}

#btn2:hover span:after {
  opacity: 1;
  right: 0;
}
#btn2:hover{
  background-color: #141E30;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  -webkit-transform: translate(0px, -10px) scale(1.06);
  transform: translate(0px, -10px) scale(1.06);
}
.Heading
{
  color: white;

}
.card{
  padding: 40px;
  width: 200%;
  position: absolute;
  bottom: 0.2rem;
  left: -5rem;
  border-radius: 10px;
  padding: 18%;
  padding-left: 50px;
  padding-left: 5%;
  box-shadow: 50px;
  background-size: cover;





}
.fa {
  position: absolute;
  left: 5%;


}
